*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ubuntu;
    color: #c9cccf !important;
}

body {
    background-color: white;
    overflow-y: scroll;
    margin: 0 auto;
}

.bg-header {
    background-color: white;
}

button, a{
    letter-spacing: 2px;
}

.main-img {
    width: 100%;
    height: 100vh;
    background-image: url('@/assets/images/parking-main.jpg');
    background-size: cover;
    /* background-image: url(@/assets/images/parking-main.jpg); */
  }

textarea:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="checkbox"]:focus{   
    border-color: rgba(78, 139, 65, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(94, 180, 77, 0.527);
    outline: 0 none;
}